<article id="main">


	<header class="special container">
		<span class="icon fa-info-circle"></span>
		<h2>ABOUT <strong>KAITA</strong></h2>
		<p>KAITA 를 알려드립니다</p>
	</header>



	<!-- One -->
		<section class="wrapper style4 container">

			<!-- Content -->
				<div class="content">
					<section>
						<a href="#" class="image featured"><img src="images/bannerAboutKAITA.jpg" alt="" /></a>
						<header>
							<h3>KAITA is the Korean network for those who are working at IT fields or who are interested in the field.</h3>
							<h3>KAITA 는 미국에 살면서 IT 에 종사하거나 관심있는 사람들을 연결하기 위한 한인 네트워크 입니다</h3>
						</header>
						<p>
							<h2>Mission (목적)</h2>
							Korean American Information Technology Association (KAITA) was born with the vision to
							connect Koreans who are related to Information Technology (IT) in any way.
							This criteria can be applicable to those who are working in the industry,
							students who are studying the disciplines, or simply those who are interested in the field.

						</p>
						<p>
							한인 IT 연합 (KAITA) 는 아이티에 관심있는 한인들을 연결 시키기 위한 비전을 가지고 태어났습니다.
							아이티 직업을 가진 분들이나 공부하는 학생 뿐만 아니라 관심있는 분들까지 누구나 참여 가능합니다.
						</p>
						<p>
							<h2>Activities (활동)</h2>
							Through KAITA network, one can share the knowledge and bond the relationship through KAKAO group chat,
							get to know each other through physical meetups, apply for the interesting job postings posted by members,
							participated in the various technical events like hackathons.
						</p>
						<p>
							KAITA 를 통하면 여러가지 서비스를 사용하실수 있습니다: 카카오 단톡으로 이야기를 나누거나 정모를 통해서 사람들과 친해지고 일자리를 찾거나 해커톤 같은 이벤트에
							참여하실수 있습니다.
						</p>
						<p>
							<h2>KAKAO Group Chat (카카오 단톡)</h2>
							Do you have a question about certain IT related questions?
							Are you a working IT professional who want to be friends with fellow
							Korean-Americans who are living in the United States?
							Are you a Computer Science / Electrical Engineering student looking for a job,
							wanting to build the network relationship with those who are in the professions?
							Are you a HR recruiter who wants to present the interesting job opportunities
							that your company offers? Are you someone who just who is looking for a mentor?
							Or, do you simply want to chit-chat with fellow Korean friends who are interested
							in that field? This is how this group got started.
							So, please join the chat and discover the long, everlasting professional relationship.
						</p>
						<p>
							아이티에 관련된 질문이 있나요? 미국에서 IT 관련된 직장에 있으면서 다른 같은 직업의 아이티 분들과
							친구를 만들고 싶나요? 컴퓨터 과학이나 전자공학 학생인데 다른 IT 직장에 다니시는 분들과 네트워크를 쌓고 싶나요?
							회사 인사팀에서 일하시는데 괜찮은 IT 일자리를 한인들에게 소개 시켜드리고 싶나요? 멘토를 찾고 있나요?
							아니면 같은 분야에 관심있는 사람들과 이야기 하고 싶나요? 이런 질문들을 가진 사람들이 모여 이 그룹이 시작했습니다.
							카카오 단톡에 입장하셔서 오래가고 끈끈한 프로페셔녈 관계를 만들어보세요.
						</p>
						<p>
							<h2>Events (이벤트)</h2>
							If everything is just about virtual interaction, there will be
							a limitation to how stronger the network relationship can get.
							To anticipate the problem, there will be physical meetups held at
							different locations. And various technical events like hackathon will be posted.
							Come meet and have fun with friends in IT fields!
						</p>
						<p>
							가상적인 대화만 오고 간다면 그 네트워크가 단단해지는건 한계가 있겠죠.
							그런점을 보안하기 위해 종종  여러 도시에서 정모가 열릴것입니다.
							그리고 해커톤 같은 다양한 테크 관련 이벤트를 찾을수 있을것입니다.
							IT 분야에 종사하는 분들을 만나고 같이 즐거운 시간을 보내요!
						</p>
						<p>
							<h2>Job Postings (일자리)</h2>
							You may work at an industry who just found out your team is hiring.
							Or, you are at a HR department and learned that your company is planning
							for the massive hiring. Or, you are maybe a student or a working professional
							who is looking for a new opportunity. These job information can be invaluable
							resources for somebody when the timing is right. Use the job posting boards
							to discover the great IT job opportunities posted by fellow Koreans.
						</p>
						<p>
							일하는 팀에서 새로운 자리를 뽑거나 인사팀에서 일하는데 회사가 자리를 많이 뽑는다고
							광고를 하는가요? 아니면 새로운 일자리를 구하는 학생이나 직장인인가요?
							이런 일자리 정보는 타이밍이 많으면 누구에겐 정말 귀중한 정보가 될수 있습니다.
							구인 구직 보드를 통해서 같은 KAITA 멤버들이 포스팅하는 아이티 일자리를 찾아보세요.
						</p>
						<p>
							<h2>Sponsorship (스폰서)</h2>
							Korean American Information Technology (KAITA) is a non-profit association.
							Thus, making the money through the sales or by posting ads will not be allowable.
							However, generous donations or sponsorship to unite the members together and
							to network together will be greatly appreciated.
							Please contact KAITA if you or your association wants to sponsor KAITA.
						</p>
						<p>
							한인 아이티 연합 (KAITA) 는 비영리 연합입니다. 그렇기 때문에 물건이나 서비스를 팔거나
							광고로 돈을 버는 방식은 금지되어 있습니다. 하지만 멤버들의 네트워크를 활성하거나
							다양한 방법으로 도와주기 위해 도내이션을 하거나 스폰서를 하는건 감사히 고려하겠습니다.
							KAITA 를 스폰서하기 원하시면 연락을 주세요.
						</p>
							</thead>
						</p>
					</section>
				</div>

		</section>

</article>
