<article id="main">


	<header class="special container">
		<span class="icon fa-comments"></span>
		<h2>KAKAO OF <strong>KAITA</strong></h2>
		<p>KAITA 카카오방으로 들어오셔서 IT 친구들을 새로 만들어요</p>
	</header>



	<!-- One -->
		<section class="wrapper style4 container">

			<!-- Content -->
				<div class="content">
					<section>
						<a href="#" class="image featured"><img src="images/bannerKAKAORoom.jpg" alt="" /></a>
						<header>
							<h3>KAKAO chat is how KAITA originally started.</h3>
							<h3>KAITA 도 처음에 KAKAO 단톡방을 통해서 시작되었습니다.</h3>
						</header>
						<p>
							<h2>Policies (규칙)</h2>

                1. 성적인 광고나 자극되는 광고들을 올리면 즉시 퇴장 당합니다 (Posting mature contents and obscene contents will result in immediate block)</li>
                <br />
                2. IT 밖의 주제는 자유이지만 주로 IT 관련 이야기를 나누길 권장합니다 (Casual talks are acceptable, but IT topics are encouraged)</li>
						</p>

            <div style="margin: 0 auto; width: 60%;">
                <h1 style="font-size: 40px; color: red;">
                  <a href="https://open.kakao.com/o/gUbRe6x" target="blank">
                    카카오 방 입장하기
                  </a>
                </h1>
              <a href="https://open.kakao.com/o/gUbRe6x" target="blank">
                <img src="images/logoKakao_400x300.jpg" />
              </a>
            </div>

					</section>
				</div>

		</section>

</article>
