<!-- Banner -->
<section id="bannerConference">

  <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->


    <header>
      <h2>KAITA 1st Conference 를 8월 4일 달라스에서 합니다</h2>
    </header>
    <p>
      미국 달라스에서 첫 KAITA 콘퍼런스를 합니다. 
      전 세계 1,000명이 넘는 한인 IT 네트워크로 여러분을 초대합니다. 
      <br />
      KAITA는 비영리 연합으로 구글, 마이크로소프트, 애플, 아마존 같은 다국적 기업에서 종사하는 
      다양한 전문가들로 이루어진 네트워크 모임입니다. 
      <br />
      코딩 및 IT 분야에 종사하지 않더라도 해당분야에 관심 있으시다면 누구나 참여 가능합니다.
    </p>
    <footer>
      <ul class="buttons vertical">
        <li><a href="/conference" class="button fit scrolly">자세한 KAITA CONFERENCE RSVP 내용은 여길 누루세요</a></li>
      </ul>
    </footer>


</section>


<!-- Banner -->
  <section id="banner">

    <!--
      ".inner" is set up as an inline-block so it automatically expands
      in both directions to fit whatever's inside it. This means it won't
      automatically wrap lines, so be sure to use line breaks where
      appropriate (<br />).
    -->
    <div class="inner">

      <header>
        <h2>KAITA</h2>
      </header>
      <p>
        <strong>K</strong>orean
        <strong>A</strong>merican
        <strong>I</strong>nformation
        <string>T</string>echnology
        <strong>A</strong>ssociation
      <br />
      미국 한인 아이티 연합에 오신걸 환영합니다
      <br />
      </p>
      <footer>
        <ul class="buttons vertical">
          <li><a href="/#/about" class="button fit scrolly">자세하게 알아보기</a></li>
        </ul>
      </footer>

    </div>

  </section>

  <!-- Main -->
    <article id="main">

      <header class="special container">
        <span class="icon fa-bar-chart-o"></span>
        <h2><strong>KAITA</strong> 는 미국에서 아이티 (IT) 관련 일을 하는 한인들을 연결 시키고
        <br />
        서로 도움을 주기 위해 창조된 비영리 조직입니다.</h2>
        <p>KAITA is the non-profit organization with a mission to connect Korean-Americans who are in IT fields or are interested in IT.

        </p>
      </header>

      <!-- One -->
        <section class="wrapper style2 container special-alt">
          <div class="row 50%">
            <div class="8u 12u(narrower)">

              <header>
                <h2>Vision of <strong>KAITA</strong> is to form the strong network among  Koreans who are in Information Technology (IT) fields.</h2>
              </header>
              <p>
                KAITA 의 비전은 아이티 분야에 일하시는 한인들을 연결 시키는것입니다.
                프로그래머, 서버 관리자, DBA, 컴퓨터 과학 계통 학생 등등 아이티에 관련있거나 관심있는분들은 누구나 참여 가능합니다.
              </p>
              <footer>
                <ul class="buttons">
                  <li><a href="/#/about" class="button">더 알아보기</a></li>
                </ul>
              </footer>

            </div>
            <div class="4u 12u(narrower) important(narrower)">

              <ul class="featured-icons">
                <li><span class="icon fa-code">
                  <span class="label">Code</span></span>
                </li>
                <li><span class="icon fa-database">
                  <span class="label">Database</span></span>
                </li>
                <li><span class="icon fa-laptop"
                  ><span class="label">Laptop</span></span>
                </li>
                <li><span class="icon fa-server">
                  <span class="label">Server</span></span>
                </li>
                <li>
                  <span class="icon fa-terminal"><span class="label">Console</span></span>
                </li>
                <li>
                  <span class="icon fa-linux"><span class="label">Linux</span></span>
                </li>
              </ul>

            </div>
          </div>
        </section>

      <!-- Two -->
        <section class="wrapper style1 container special">
          <div class="row">
            <div class="4u 12u(narrower)">

              <section>
                <span class="icon featured fa-users"></span>
                <header>
                  <h3>FOR VISITORS</h3>
                </header>
                <p>
                  여러가지 정보를 찾아볼수 있고 멤버로 등록할 수 있습니다.
                </p>
                <p>Search for limited information or can register as members</p>
              </section>

            </div>
            <div class="4u 12u(narrower)">

              <section>
                <span class="icon featured fa-rocket"></span>
                <header>
                  <h3>FOR MEMBERS</h3>
                </header>
                <p>
                  멤버 섹션을 통해 자신의 프로필과 경험을 올리거나 여러가지 각종 기능을 사용할 수 있습니다.
                </p>
                <p>
                  Discover the useful information like members and can contribute
                </p>
              </section>

            </div>
            <div class="4u 12u(narrower)">

              <section>
                <span class="icon featured fa-check"></span>
                <header>
                  <h3>FOR COMPANIES/ORGANIZATIONS</h3>
                </header>
                <p>
                  아이티에 종사하는 한인들을 찾을수 있고 고용할 수 있는 통로를 제공합니다.
                </p>
                <p>
                  Recruit the talented Korean-Americans or advertise the events
                </p>
              </section>

            </div>
          </div>
        </section>

      <!-- Three -->
        <section class="wrapper style3 container special">

          <header class="major">
            <h2>다양한 <strong>KAITA</strong>의 활동 범위</h2>
          </header>

          <div class="row">

            <div class="6u 12u(narrower)">
              <section>
                <a href="#" class="image featured"><img src="images/IMG_3341_copy.jpg" alt="" /></a>
                <header>
                  <h3>단톡을 통한 활발한 정보 교환</h3>
                  <h3>Information through Chat</h3>
                </header>
                <p style="text-align: left;">
                  현재 1000명이 넘는 인원수를 가진 카카오 오픈 단톡방에서 KAITA 멤버들은 매일 아이티 정보, 일자리 정보 및 여러가지 안부 정보를 공유하고 있습니다.
                  뿐만 아니라 LinkedIn 프로필도 공유하며 넒은 네트워크를 이루어가는데 획심역활을 하고 있습니다.
                </p>
                <p style="text-align: left;">
                  Kakao group chat of KAITA group now has over 350 members, and they share various
                  information such as IT problems, job information, and just greetings.
                  In addition, they share LinkedIn profiles and focus on building stronger
                  and wider network.
                </p>
              </section>

            </div>

            <div class="6u 12u(narrower)">

              <section>
                <a href="#" class="image featured"><img src="images/eventMeetup.jpg"  alt="" /></a>
                <header>
                  <h3>글로벌한 정모 이벤트</h3>
                  <h3>Global Meet Up Events</h3>
                </header>
                <p style="text-align: left;">
                  끈끈한 멤버 관계의 유지를 위해 종종 전국적으로 정모를 진행합니다.
                </p>
                <p style="text-align: left;">
                  To strengthen the network and to form the friendships,
                   the physical meet ups are happened at the various locations
                   around the cities and the countries.
                </p>
              </section>

            </div>
          </div>
          <div class="row">
            <div class="6u 12u(narrower)">

              <section>
                <a href="#" class="image featured"><img src="images/fair2001.jpg" alt="" /></a>
                <header>
                  <h3>미국 아이티 잡 네트워크</h3>
                  <h3>IT Job Network</h3>
                </header>
                <p style="text-align: left;">
                  회사에서 일자리 정보가 열리면 서로 한인들이 공유하고 나눌수 있게 KAITA 가 도와드립니다.
                </p>
                <p style="text-align: left;">
                  If there is any opening at a company, members will share the information
                  among others.
                </p>
              </section>

            </div>
            <div class="6u 12u(narrower)">

              <section>
                <a href="#" class="image featured"><img src="images/hackathon.jpg" alt="" /></a>
                <header>
                  <h3>아이티 프로젝트 이벤트 공동 참여밑 구성</h3>
                  <h3>IT Project Event &amp; Collaboration</h3>
                </header>
                <p style="text-align: left;">
                  한인들과 해커톤, 회사 탐험 및 다양한 이벤트를 같이 참여할 수 있으며 KAITA 도 같이 개발합니다.
                </p>
                <p style="text-align: left;">
                  You can find other fellow Koreans who are interested in joining
                  IT events like hackathon, and you also have the ability to contribute
                   to KAITA projects.
                </p>
              </section>

            </div>
          </div>

          <footer class="major">
            <ul class="buttons">
              <li><a href="/#/about" class="button">더 알아보기</a></li>
            </ul>
          </footer>

        </section>

    </article>

  <!-- CTA -->
    <section id="cta">

      <header>
        <h2>업데이트를 받기 원하신가요?</h2>
        <h2>Do you want to receive updates?</h2>
        <p>업데이트를 받는 방식을 선택해 주세요</p>
        <p>Please select how you want to receive updates</p>
      </header>
      <footer>
        <ul class="buttons">
          <li><a href="#" class="button special">Email</a></li>
          <li><a href="https://www.facebook.com/Korean-American-Information-Technology-Association-KAITA-1328351677274496/" target="_blank" class="button">Facebook</a></li>
        </ul>
      </footer>

    </section>
