<article id="main">


	<header class="special container">
		<span class="icon fa-id-card"></span>
		<h2>BECOME A <strong>KAITA</strong> MEMBER</h2>
		<p>KAITA 멤버로 등록하세요</p>
	</header>

	<!-- One -->
		<section class="wrapper style4 container">

			<!-- Content -->
				<div class="content">
					<section>
						<a href="#" class="image featured"><img src="images/bannerMembership.jpg" alt="" /></a>
						<header>
							<h3>KAKAO membership page is under construction.</h3>
							<h3>KAITA 멤버쉽 페이지는 현재 건설중입니다만...</h3>
						</header>
						<p>
							  다음 Social Network 를 통해서 멤버들을 만나시기 바래요.

								<ul>
									  <li>
											<a href="https://www.facebook.com/Korean-American-Information-Technology-Association-KAITA-1328351677274496/">
												 페북 페이지 (Facebook Page)
											</a>
										</li>
										<li>
											<a href="https://www.facebook.com/groups/kaita">
												페북 그룹 (Facebook Group)
											</a>
										</li>
										<li>
											<a href="https://www.linkedin.com/groups/12083774">
												링크드인 (LinkedIn)
											</a>
										</li>
										<li>
											<a href="https://tinyurl.com/kaitaslack">
												슬랙 (Slack)
											</a>
										</li>
								</ul>
						</p>
						<p>
							<h2>If you become a member... (멤버가 되시면...)</h2>

                1. 프로필을 올릴수 있고 바꿀수 있습니다 (You can create your profile or modify an existing one)</li>
                <br />
                2. 메시지 보드나 여러가지 콘텐트를 올리거나 바꿀수 있습니다 (You can create or modify various contents)</li>
						</p>

					</section>
				</div>

		</section>

</article>
